#!/bin/bash
## custom user functions

## how-to determine OS
## OSTYPE common values
# macOS:    darwin(xyz)
# Linux:    linux-gnu
# FreeBSD:  freebsd
# CYGWIN:   cygwin
## `uname -s` common values
# macOS:    Darwin
# Linux:    Linux
# FreeBSD:  FreeBSD
# Cygwin:   CYGWIN_NT-(xyz)
# MinGW:    MINGW(32/64)-(xyz)
# MSYS:     MSYS_NT-(xyz)

# if OSTYPE empty, set from `uname`
UNAME_S="$(uname -s)"
if [ -z $OSTYPE ]; then
    echo "OSTYPE not found, setting to lower(uname -s)"
    export OSTYPE="$(echo $UNAME_OS | tr '[:upper:]' '[:lower:]')"
    echo OSTYPE=$OSTYPE
fi

# define colorized 'ls', per OS (bsd vs gnu)
case "$OSTYPE" in
    darwin* | bsd* )
        alias ls='/bin/ls -G' ;;
    #linux*) echo "LINUX" ;;
        #bsd*) echo "BSD" ;;
        #solaris*) echo "SOLARIS" ;;
    *)
        alias ls='ls --color=auto' ;;
esac


## miscellaneous

alias please='sudo '
alias fucking='sudo '
alias get-shell='ps -o command | grep -v -e "\<ps\>" -e grep -e tail | tail -1'
alias wget-test='wget -O /dev/null'
alias curl-test='curl -o /dev/null'
alias speedtest-cachefly='curl-test http://cachefly.cachefly.net/100mb.test'
alias speedtest-tele2='curl-test http://speedtest.tele2.net/100MB.zip'
alias simple-stress='yes > /dev/null'

# setup environment variables for ROOT
alias src-root='pushd $(root-config --prefix) >/dev/null && source bin/thisroot.sh && popd >/dev/null'
# MySQL DB size query
alias mysql-df="mysql -e 'SELECT table_schema \"database\", sum(data_length + index_length)/1024/1024 \"size in MB\" FROM information_schema.TABLES GROUP BY table_schema;'"
# Cleanup Anaconda leftover packages and tarballs
alias conda-cleanup='conda clean -pt'

# run to fix environment in a tmux pane
# https://raim.codingfarm.de/blog/2013/01/30/tmux-update-environment/
tmux-update-env () {
    local v
    while read v; do
        if [[ $v == -* ]]; then
            unset ${v/#-/}
        else
            # Add quotes around the argument
            if [[ -n "$ZSH_NAME" ]]; then
                v=${v:s/=/=\"}
                v=${v}\"
            else
                v=${v/=/=\"}
                v=${v/%/\"}
            fi
            eval export $v
        fi
    done < <(tmux show-environment)
}


## OS-specific functions

## Linux
# list outdated packages
alias apt-outdated='apt list --upgradable | column -t'
# list manually installed apt packages
alias apt-list-requested="comm -23 <(apt-mark showmanual | sort -u) <(gzip -dc /var/log/installer/initial-status.gz | sed -n 's/^Package: //p' | sort -u)"


## macOS
if [[ $OSTYPE == darwin* ]]; then
    source $HOME/.functions_mac
fi

